@page
@model GraduateWork.Pages.todos.ReminderModel
@{
    ViewData["Title"] = "Set Reminder";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Set Reminder</h2>

<hr />

<form method="post">
    <div>
        <label for="reminderDate">Date:</label>
        <input type="date" id="reminderDate" asp-for="ReminderDate" required>
    </div>
    <div>
        <label for="reminderTime">Time:</label>
        <input type="time" id="reminderTime" asp-for="ReminderTime" required>
    </div>
    <input type="hidden" asp-for="ToDoItemId">
    <button type="submit" class="btn btn-primary">Set Reminder</button>
</form>
<div>
    <a asp-page="./Index">Back to List</a>
</div>