@page
@model PrivacyModel
@{
    ViewData["Title"] = "Guide";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h5>Easily create and manage your tasks 📝</h5>
    <h5>We provide everything you need to fully manage your tasks</h5>
</div>
<hr />
<div>
    <h5>Steps to manage your tasks:</h5>
    <ul>
        <li><h5>Go to page "Task List";</h5></li>
        <li><h5>Click "Create New" button to create your first task;</h5></li>
        <li><h5>After your task is created you can select one of the actions offered to you;</h5></li>
        <li><h5>Select "Edit" to edit your task;</h5></li>
        <li><h5>Select "Delete" to delete your task;</h5></li>
        <li><h5>Select "Reminder" to receive an email reminder about your task;</h5></li>
        <li><h5>Enjoy your time😊</h5></li>
    </ul>
</div>


